@import "./base.css";

/* My Custom CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
}

:root {
  /* Colors */
  /* --body-color: #e4e9f7; */
  --body-color: rgba(128, 0, 32, 0.05);
  --sidebar-color: #fff;
  /* --primary-color: #695cfe;  */
  --primary-color: #800020;
  --primary-color-light: #f6f5ff;
  --toggle-color: #dddd;
  --text-color: #707070;

  /* Transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
